@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #529dff;
  --base-content: #8a8a8a;
  --requests-red: rgba(231, 111, 111, 0.2);
  --requests-yellow: rgba(255, 255, 0, 0.2);
  --requests-green: rgba(0, 255, 0, 0.2);

  /* DaisyUI overrides */
  --rounded-box: 0.5rem;
}

@layer base {
  * {
    @apply break-words;
  }

  p {
    @apply my-1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply my-2;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-3xl;
  }

  h5 {
    @apply text-2xl;
  }

  h6 {
    @apply text-xl;
  }

  a:not(.unstyled) {
    @apply link;
    @apply link-primary;
  }

  ol,
  ul {
    @apply list-disc;
    @apply list-inside;
  }

  pre {
    @apply rounded-lg;
    @apply w-full;
    @apply overflow-hidden;
  }

  code {
    font-family: monospace;
    @apply text-secondary;
    @apply rounded-lg;
  }

  .mockup-code pre:before {
    margin-right: 0 !important;
  }

  .card {
    @apply overflow-visible;
  }

  h1 > a,
  h2 > a,
  h3 > a,
  h4 > a,
  h5 > a,
  h6 > a {
    @apply text-white !important;
  }
}

.bg-filter {
  background-color: rgba(0, 0, 0, 0.75);
}

.text-requests-green {
  color: var(--requests-green);
}

.text-requests-yellow {
  color: var(--requests-yellow);
}

.text-requests-red {
  color: var(--requests-red);
}

/* https://github.com/swagger-api/swagger-ui/blob/master/src/style/_variables.scss#L46-L53 */
.text-method-post {
  color: #49cc90;
}
.text-method-get {
  color: #61affe;
}
.text-method-put {
  color: #fca130;
}
.text-method-delete {
  color: #f93e3e;
}
.text-method-head {
  color: #9012fe;
}
.text-method-patch {
  color: #50e3c2;
}
.text-method-options {
  color: #0d5aa7;
}
