@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #5271ff;
  --color-secondary: #a6a6a6;
}

@layer base {
  * {
    @apply break-words;
    @apply text-white;
  }

  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .bg-filter {
    background-color: rgba(0, 0, 0, 0.75);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .outline-primary {
    border: 0.15rem solid var(--color-primary);
  }

  .outline-secondary {
    border: 0.15rem solid var(--color-secondary);
  }

  a {
    @apply underline;
    color: var(--color-primary);
    cursor: pointer;
  }

  ol,
  ul {
    @apply list-inside;
    @apply list-disc;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }
}
