@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #529dff;
  --color-primary-light: #73adfa;
  --color-secondary: #a6a6a6;
  --color-secondary-dark: #8c8c8c;
}

@layer base {
  * {
    @apply break-words;
  }

  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-primary-light {
    background-color: var(--color-primary-light);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .bg-filter {
    background-color: rgba(0, 0, 0, 0.75);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .text-secondary-dark {
    color: var(--color-secondary-dark);
  }

  .border-primary {
    border: 2px solid var(--color-primary);
  }

  .border-secondary {
    border: 2px solid var(--color-secondary);
  }

  .border-secondary-dark {
    border-color: var(--color-secondary-dark);
  }

  .border-t-primary {
    border-top-color: var(--color-primary);
  }

  .border-b-primary {
    border-bottom-color: var(--color-primary);
  }

  a {
    @apply underline;
    color: var(--color-primary);
    cursor: pointer;
  }

  ol,
  ul {
    @apply list-inside;
    @apply list-disc;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  p {
    @apply leading-8;
  }

  .animation-delay-400 {
    opacity: 0;
    animation-delay: 400ms !important;
  }

  .animation-delay-800 {
    opacity: 0;
    animation-delay: 800ms !important;
  }

  .animation-delay-1200 {
    opacity: 0;
    animation-delay: 1200ms !important;
  }

  .animation-delay-1600 {
    opacity: 0;
    animation-delay: 1600ms !important;
  }

  details summary::-webkit-details-marker {
    display: none;
  }
}
